<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Helpdesk.Linq.Properties.Settings.helpdeskConnectionString"
            connectionString="Data Source="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>